.popover-wrap {
  /* display: flex;
  align-items: center; */
  /* width: 270px; */
  background-color: #fff;
  color: #333;
}
.add-wrap {
  margin-bottom: 4px;
}
.action {
  margin-right: 10px;
}
.popover-btn-list {
  display: flex;
}
.custom-btn-list {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  margin-right: 8px;
  margin-bottom: 8px;
}
